.third-box {
    flex-grow: 3;
}

.fourth-box {
    flex-grow: 2;
}

.first-box, .second-box {
    flex-grow: 1;
}

* {
  box-sizing: border-box;
}

.container {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  display: flex;
}

.first-box {
  width: 100px;
  height: 200px;
  background-color: aqua;
}

.second-box {
  width: 100px;
  height: 200px;
  background-color: rebeccapurple;
}

.third-box {
  width: 100px;
  height: 200px;
  background-color: red;
}

.fourth-box {
  width: 100px;
  height: 200px;
  background-color: yellow;
}